.idea/
.vscode/
.ipynb_checkpoints/
**.ipynb_checkpoints/
**.pyc
*.local.ipynb
.DS_Store
/data/mnist/
/data/mnist_fastai/
/data/mnist_tensors/
/data/weights.pkl
/data/models
/models
/data/geomnist_dataset/
