.idea/
.vscode/
.ipynb_checkpoints/
**.ipynb_checkpoints/
**.pyc
**logs**
**.pt
**.ckpt
**.onnx
**.h5
**.sav
**.pkl
**.model
**.pth
**.t7
**.log
*.local.ipynb
.DS_Store
**checkpoints/**
**checkpoints/***
data/cifar/**
data/mnist/**
data/mnist_fastai/
data/mnist_tensors/
data/weights.pkl
data/models/
data/geoletters/**
data/geoletters**
data/cifar**
oxford-iiit-pet/
**oxford-iiit-pet/
mmdetection
**mmdetection**
runs/
/data/__MACOSX/
data/hymenoptera*
/models
/data/geomnist_dataset/
/detectron2_repo/
/download
/content
global-wheat-detection.zip
**model_final_68b088.pkl*
train.csv
sample_submission.csv
/output
data/wheet
/train
/test
/test_wheets
lightning_logs/
**data/
/tsu_master*/data
datasets/
tsu_master_2022_2023/data/
tsu_master_2023_2024/data/
tsu_master_2024_2025/data/
tsu_master_2025_2026/data/
